<!DOCTYPE html>

<html lang="en" ng-app="eventApp" ng-controller="EventListCtrl">
	<head>
		  <meta charset="utf-8">
		
		  <title>Tableau des Evenements {{events.length}}</title>
		  <link rel="stylesheet" href="css/app.css" type="text/css">
		  
		  <script src="js/moment.js" type="text/javascript"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js" type="text/javascript"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.js" type="text/javascript"></script>
		  <script src="js/controllers.js" type="text/javascript"></script>
		  
	</head>
	<body>
	   Search: <input ng-model="query">
	   <button ng-click="limit(-5)">5</button>
	   <button ng-click="limit(-10)">10</button>   
	   <button ng-click="limit(-15)">15</button>  
	   <button ng-click="limit(-30)">30</button>  
	      <table>
	      <tr>
	      		<th>author</th>
	      		<th>state</th>
	      		<th>system</th>
	      		<th>type</th>
	      		<th>creationTime</th>
	      		<th>geo</th>
	      		<th>id</th>
	      </tr>
	      <tr ng-repeat="event in events | limitTo:eventLimit | filter:query | orderBy:orderProp " class="{{event.system}}">
	      		<td>{{event.author}}</td>
	      		<td>{{event.state}}</td>
	      		<td>{{event.system}}</td>
	      		<td>{{event.type}}</td>
	      		<td><span title="{{event.creationTime}}">{{formatDate(event.creationTime)}}</span></td>
	      		<td><a href="http://en.wikipedia.org/wiki/{{capitaliseFirstLetter(event.geo)}}">{{event.geo}}</a></td>
	      		<td>{{event.id}}</td>
	      </tr>
	    </table>
	   <p>Total number of event: {{events.length}}</p>
	</body>
</html>
